<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <params>
        <param name="yl_appid" required="1" showName="AppID" desc="AppID" bWriteInManifest="1" bWriteInClient="0" />
        <param name="yl_channelid" required="0" value="0000" showName="渠道号" desc="默认0000" bWriteInManifest="1" bWriteInClient="0" />
        <param name="yl_platfrom_id" required="1" showName="渠道id" desc="渠道ID" bWriteInManifest="1" bWriteInClient="0" />
                
    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.YiLeUser" type="1" desc="用户登录接口"/>
        <plugin name="com.u8.sdk.YiLePay" type="2" desc="用户支付接口"/>
    </plugins>
    
    <version>
        <name>(都玩)易乐</name>
        <versionCode>1</versionCode>
        <versionName>1.0.1</versionName>
    </version>    
    
</config>